<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone.js Tutorial</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>User Manager</h1>
        <hr>
        <div class="page"></div>
    </div>

    <script id="user_list_template" type="text/x-template">
    <table class="table striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% _.each(users, function(user) { %>
            <tr>
                <td><%= user.get('firstname') %></td>
                <td><%= user.get('lastname') %></td>
                <td><%= user.get('age') %></td>
                <td></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    </script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script>

var Router = Backbone.Router.extend({
        routes: {
            '': 'home'
        }
    }),
    router = new Router(),

    UserList = Backbone.View.extend({
        el: '.page',
        render: function() {
            var users = new Users()
                $el = this.$el;

            users.fetch({
                success: function(users) {
                    var tmpl = _.template(
                            $('#user_list_template').html(),
                            {users: users.models}
                        );

                    $el.html(tmpl);
                }
            });
        }
    }),
    user_list = new UserList(),

    Users = Backbone.Collection.extend({
        url: '/users'
    });

    router.on('route:home', function() {
        user_list.render();
    });

    $.ajaxPrefilter(function(opts, original_opts, xhr) {
        opts.url = 'http://backbonejs-beginner.herokuapp.com' + opts.url;
    });

    Backbone.history.start();

</script>
</body>
</html>
