<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone.js Tutorial</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>User Manager</h1>
        <hr>
        <div class="page"></div>
    </div>

    <script id="user_list_template" type="text/x-template">
    <a class="btn btn-primary" href="#/new">New User</a>
    <hr>

    <table class="table striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% _.each(users, function(user) { %>
            <tr>
                <td><%= user.get('firstname') %></td>
                <td><%= user.get('lastname') %></td>
                <td><%= user.get('age') %></td>
                <td>
                    <a class="btn" href="#/edit/<%= user.id %>">Edit</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    </script>

    <script id="user_form_template" type="text/x-template">
    <form class="edit-user-form">
        <legend><%= user ? 'Update' : 'Create' %> User</legend>

        <label>First Name</label>
        <br>
        <input type="text" name="firstname" value="<%= user ? user.get('firstname') : '' %>" />
        <br>

        <label>Last Name</label>
        <br>
        <input type="text" name="lastname" value="<%= user ? user.get('lastname') : '' %>" />
        <br>

        <label>Age</label>
        <br>
        <input type="text" name="age" value="<%= user ? user.get('age') : '' %>" />

        <hr>

        <button class="btn" type="submit"><%= user ? 'Update' : 'Create'%> User</button>

        <% if(user) { %>
        <input name="id" type="hidden" value="<%= user.id %>">
        <% } %>
    </form>
    </script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script>

var Router = Backbone.Router.extend({
        routes: {
            '': 'home',
            'new': 'edit_user',
            'edit/:id': 'edit_user'
        }
    }),
    router = new Router(),

    UserList = Backbone.View.extend({
        el: '.page',
        render: function() {
            var users = new Users()
                $el = this.$el;

            users.fetch({
                success: function(users) {
                    var tmpl = _.template(
                            $('#user_list_template').html(),
                            {users: users.models}
                        );

                    $el.html(tmpl);
                }
            });
        }
    }),
    user_list = new UserList(),

    EditUser = Backbone.View.extend({
        el: '.page',
        events: {
            'submit .edit-user-form': 'save_user'
        },
        save_user: function(e) {
            var form_data = $(e.currentTarget).serializeObject();
                user = new User();

                user.save(form_data, {
                    success: function() {
                        router.navigate('', {trigger: true});
                    }
                });

            return false;
        },
        render: function(opts) {
            var tmpl, user,
                $el = this.$el;

            if(opts.hasOwnProperty('id') && opts.id) {
                user = new User({id: opts.id});
                user.fetch({
                    success: function(user) {
                        tmpl = _.template(
                            $('#user_form_template').html(),
                            {user: user}
                        );

                        $el.html(tmpl);
                    }
                });
            }
            else {
                tmpl = _.template(
                    $('#user_form_template').html(),
                    {user: null}
                );

                $el.html(tmpl);
            }
        }
    }),
    user_form = new EditUser(),

    Users = Backbone.Collection.extend({
        url: '/users'
    });

    User = Backbone.Model.extend({
        urlRoot: '/users'
    });

    router.on('route:home', function() {
        user_list.render();
    });

    router.on('route:edit_user', function(id) {
        user_form.render({id: id});
    });

    $.ajaxPrefilter(function(opts, original_opts, xhr) {
        opts.url = 'http://backbonejs-beginner.herokuapp.com' + opts.url;
    });

    $.fn.serializeObject = function() {
        return this.serializeArray().reduce(function(obj, field) {
            if(obj.hasOwnProperty(field.name)) {
                if('function' !== typeof obj[field.name].push) {
                    obj[field.name] = [obj[field.name]];
                }

                obj[field.name].push(field.value || '');
            }
            else {
                obj[field.name] = field.value || '';
            }

            return obj;
        }, {});
    };

    Backbone.history.start();

</script>
</body>
</html>
